<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="home">Главная</a></li>    
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="admin/dashboard">Админ-панель</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="404">Not Found</a></li>
    <li class="nav-item"><a class="nav-link btn" routerLinkActive="active" routerLink="auth/login">Вход</a></li>
    <li class="nav-item"><a class="nav-link btn" routerLinkActive="active" routerLink="auth/register">Регистрация</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>