<div *ngIf="info.token; else loggedOut">
    <div class="row">
        <div class="col-2">
            <app-main-menu></app-main-menu>
            <div class="text-center">
                <button class="btn btn-secondary  w-75" (click)="logout()">Выход</button>
            </div>            
        </div>
        <div class="col-9">
            Компонент главной страницы
        </div>
    </div>
</div>

<ng-template #loggedOut>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3"><app-login></app-login></div>
    </div>
</ng-template>