<form [formGroup]="formGroup"
    (input)="onFormChange()"
    (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-7">
      <div>
        <mat-form-field>
          <mat-label>Имя пользователя</mat-label>
          <input matInput formControlName='username'>
          <mat-error *ngIf="formGroup.hasError('required', 'login')">Введите имя пользователя</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput type="password" formControlName='password'>
          <mat-error *ngIf="formGroup.hasError('required', 'password')">Введите пароль</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-3"></div>
    </div>
      <mat-error *ngIf="formError">{{formError}}</mat-error>
    <div class="text-center">
      <button mat-raised-button color="primary"
              [disabled]="disabled"
              type="submit">Войти</button>
      <a mat-raised-button color="warn" href="/auth/register" >Регистрация</a>
    </div>

</form>
